@import "tailwindcss";

:root {
  --background: #faf5ee;
  --foreground: #000000;
}

body {
  margin: 0;
  background: var(--background);
  color: var(--foreground);
}

@media (min-width: 768px) {
  html {
    scrollbar-gutter: stable;
  }
}

@layer utilities {
  .type-h1 {
    font-size: 63px;
    line-height: normal;
    font-weight: 400;
  }

  .type-h2 {
    font-size: 48px;
    line-height: normal;
    font-weight: 400;
  }

  .type-h3 {
    font-size: 39px;
    line-height: normal;
    font-weight: 400;
  }

  .type-h4 {
    font-size: 30px;
    line-height: normal;
    font-weight: 400;
  }

  .type-h5 {
    font-size: 24px;
    line-height: normal;
    font-weight: 400;
  }

  .type-h6 {
    font-size: 18px;
    line-height: normal;
    font-weight: 400;
  }

  .type-body-1 {
    font-size: 15px;
    line-height: normal;
    font-weight: 400;
  }

  .type-body-2 {
    font-size: 12px;
    line-height: normal;
    font-weight: 400;
  }

  .type-label {
    font-size: 10.5px;
    line-height: normal;
    font-weight: 400;
  }

  .type-caption {
    font-size: 9px;
    line-height: normal;
    font-weight: 400;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.font-cheyra {
  font-family: var(--font-cheyra);
  text-transform: uppercase;
  line-height: 0.85;
}
